rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.admin == true;
    }

    match /portfolio/{allPaths=**} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }

    match /site/{allPaths=**} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }

    match /content/{allPaths=**} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
  }
}
